<div class="row" style="margin: 0px">
	<div class="background--light black-border small-padding row">
		<input class="col-xs-12" ng-model="isolatedVariable">
		<p style="margin-top:10px;" class="col-xs-12">{{ isolatedVariable }}</p>
	</div>
	<div class="background--light black-border small-padding small-margin--top row">
		<div reusable-carousel-container style="width:100%; border:none">
			<div reusable-carousel active-panel="{{ activePanel }}">
				<div reusable-carousel-panel class="img-container">
					<img src="../../assets/images/directives-scope-controlled-1.png">
					<p>When <code>scope === controlled</code>, there a similar relationship as to when the <code>scope === false</code>, however...</p>
				</div>
				<!--
				-->
				<div reusable-carousel-panel class="img-container">
					<img src="../../assets/images/directives-scope-controlled-2.png">
					<p>...imagine a sober person in-between the parent and the child. They filter out the bits that the child won't want the parent to see. Within your directive, using this, you create a definition of the scope variables you want to be passed in and out of the child. Update it in the child, it'll update the parent.</p>
				</div>
			</div>
		</div>
		<div>
			<button class="col-xs-6 btn btn-primary" ng-click="shiftActivePanel(-1)" ng-disabled="activePanel === 0">Left</button>
			<button class="col-xs-6 btn btn-primary" ng-click="shiftActivePanel(1)" ng-disabled="activePanel === 1">Right</button>
		</div>
	</div>
</div>
