<div class="row" style="margin: 0px">
	<div class="black-border small-padding row">
		<input class="col-xs-12" ng-model="parentVariable">
		<p style="margin-top:10px;" class="col-xs-12">{{ parentVariable }}</p>
	</div>
	<div class="black-border small-padding small-margin--top row">
		<div class="img-container">
			<img src="../../assets/images/directives-scope-false.png">
		</div>
		<div>
			<button class="col-xs-6 btn btn-primary" ng-click="shiftActivePanel(-1)" ng-disabled="activePanel === 0">Left</button>
			<button class="col-xs-6 btn btn-primary" ng-click="shiftActivePanel(1)" ng-disabled="activePanel === 0">Right</button>
		</div>
	</div>
</div>
