.directive-container {
	padding: 5px 10px;
}

.directive-container img {
	width: 100%;
	max-width: 200px;
}

.directive-container .img-container {
	width: 100%;
	text-align: center;
}

.black-border {
	border: 1px solid black;
}
.small-padding {
	padding:5px;
}
.no-margin {
	margin: 0px;
}
.small-margin--top {
	margin-top: 5px;
}
